<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOCO Salaries Viewer</title>
    <link rel="stylesheet" href="/styles.css">
    <script defer src="/script.js"></script>
</head>
<body>
    <h1>Montgomery County, MD Workers' Salaries Viewer</h1>

    <h4>There are 3 data sets that come from <a href="https://data.gov/">https://data.gov/</a> you can find the data set used <a href="https://catalog.data.gov/dataset/employee-salaries-2022/resource/9ff1fe42-2226-478f-b1b1-ef9187e130da">here</a>. </h4>


    <form>
        <label for="prime">Please Select Directory</label>
        <select name="prime" id="prime">
            <option value="default" selected disabled>Selection</option>
            <option value="base">Base</option>
            <option value="pay">Pay</option>
            <option value="department">Department</option>
        </select>
        <br><br>
        
       

       





    </form>
    
</body>
</html>