<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOCO Salaries Viewer</title>
    <link rel="stylesheet" href="/styles.css">
    <script defer src="/script.js"></script>
</head>
<body>
    <h1>Montgomery County, MD Workers' Salaries Viewer</h1>

    <p>Information about the routes</p>


    <form>
        <label for="prime">Please Select Directory</label>
        <select name="prime" id="prime">
            <option value="default" selected disabled>Selection</option>
            <option value="base">Base</option>
            <option value="pay">Pay</option>
            <option value="department">Department</option>
        </select>
        <br><br>

       





    </form>
    
</body>
</html>